# This code calculates how many data points there are for each household in AUS, GE, and UK and saves them as a csv file under the data folder.

3. How long is each time series(per household)? Find longest/shortest series. 

10 Households with the Lowest Data Points:

id |   count |  country

uk_MAC001150   |   1    |  UK

uk_MAC005556   |   1    |  UK

uk_MAC005559  |    1      UK

uk_MAC005560   |   1      UK

uk_MAC005563    | 1  |    UK

AUS_8283372   | 100   |  AUS

AUS_9910402  |  104    | AUS

AUS_9082454   | 235   |  AUS

AUS_8687320    |377    | AUS

AUS_10690934    |492    | AUS

----------

10 Households with the Highest Data Points:

id,  count, country

GE_5 | 61606   |   GE

GE_6  | 43067   |   GE

AUS_8301418 | 42192  |   AUS

AUS_10534355 |  42010 |    AUS

AUS_10534327  | 42007  |   AUS

AUS_10042974 | 42000    | AUS

AUS_10413359| 42000     | AUS

AUS_10413373  | 41997   | AUS

AUS_10424877 | 41997    | AUS

AUS_10174306 | 41994    | AUS

In [1]:
import dask.dataframe as dd

# Load the Parquet file with Dask
df = dd.read_parquet("TUDelft-Electricity-Consumption-1.0/30m_resolution_aus/aus_30m.parquet")

# Group by household ID and count the number of records
household_counts = df.groupby("id").size().compute()

# View the result
print(household_counts)

id
AUS_10006414    36105
AUS_10006486    18434
AUS_10006492    18434
AUS_10006572    33700
AUS_10006630    30721
                ...
AUS_9997722     30182
AUS_9997730     30182
AUS_9997738     18883
AUS_9997764     30182
AUS_9997848     18049
Length: 13735, dtype: int64

In [2]:
household_counts.to_csv("data/household_counts_aus_30min.csv", header=True)

In [3]:
df2= dd.read_parquet("TUDelft-Electricity-Consumption-1.0/30m_resolution_ge/ge_30m.parquet")
household_counts2 = df2.groupby("id").size().compute()
household_counts2.to_csv("data/household_counts_ge_30min.csv", header=True)

In [4]:
df3= dd.read_parquet("TUDelft-Electricity-Consumption-1.0/30m_resolution_uk/uk_30m.parquet")
household_counts3 = df3.groupby("id").size().compute()
household_counts3.to_csv("data/household_counts_uk_30min.csv", header=True)

In [8]:
import pandas as pd

aus_counts = pd.read_csv("data/household_counts_aus_30min.csv")
ge_counts = pd.read_csv("data/household_counts_ge_30min.csv")
uk_counts = pd.read_csv("data/household_counts_uk_30min.csv")

aus_counts.rename(columns={"0": "count"}, inplace=True)
ge_counts.rename(columns={"0": "count"}, inplace=True)
uk_counts.rename(columns={"0": "count"}, inplace=True)

aus_counts["country"] = "AUS"
ge_counts["country"] = "GE"
uk_counts["country"] = "UK"

combined = pd.concat([aus_counts, ge_counts, uk_counts], ignore_index=True)

min_count = combined["count"].min()
max_count = combined["count"].max()

print(f"Minimum data points per household: {min_count}")
print(f"Maximum data points per household: {max_count}")

Minimum data points per household: 1
Maximum data points per household: 61606

In [17]:
combined

                 id  count country
0      AUS_10006414  36105     AUS
1      AUS_10006486  18434     AUS
2      AUS_10006492  18434     AUS
3      AUS_10006572  33700     AUS
4      AUS_10006630  30721     AUS
...             ...    ...     ...
19302  uk_MAC005563      1      UK
19303  uk_MAC005564  28349      UK
19304  uk_MAC005565   8743      UK
19305  uk_MAC005566  24624      UK
19306  uk_MAC005567  20885      UK

[19307 rows x 3 columns]

In [10]:
# Get the actual rows with the min and max count
min_rows = combined[combined["count"] == combined["count"].min()]
max_rows = combined[combined["count"] == combined["count"].max()]

print("Households with MINIMUM data points:")
print(min_rows)

print("\n Households with MAXIMUM data points:")
print(max_rows)

Households with MINIMUM data points:
                 id  count country
14655  uk_MAC001150      1      UK
19295  uk_MAC005556      1      UK
19298  uk_MAC005559      1      UK
19299  uk_MAC005560      1      UK
19302  uk_MAC005563      1      UK

 Households with MAXIMUM data points:
         id  count country
13739  GE_5  61606      GE

In [ ]:
mean_count = combined["count"].mean()
print(f"Mean data points per household: {mean_count:.2f}")

Mean data points per household: 26714.12

In [16]:
# 10 households with the fewest data points
lowest_10 = combined.nsmallest(10, "count")
print("10 Households with the Lowest Data Points:")
print(lowest_10)

10 Households with the Lowest Data Points:
                 id  count country
14655  uk_MAC001150      1      UK
19295  uk_MAC005556      1      UK
19298  uk_MAC005559      1      UK
19299  uk_MAC005560      1      UK
19302  uk_MAC005563      1      UK
3995    AUS_8283372    100     AUS
13453   AUS_9910402    104     AUS
12483   AUS_9082454    235     AUS
11536   AUS_8687320    377     AUS
7512   AUS_10690934    492     AUS

In [15]:
# 10 households with the most data points
highest_10 = combined.nlargest(10, "count")
print("10 Households with the Highest Data Points:")
print(highest_10)

10 Households with the Highest Data Points:
                 id  count country
13739          GE_5  61606      GE
13740          GE_6  43067      GE
4261    AUS_8301418  42192     AUS
6764   AUS_10534355  42010     AUS
6752   AUS_10534327  42007     AUS
181    AUS_10042974  42000     AUS
6379   AUS_10413359  42000     AUS
6382   AUS_10413373  41997     AUS
6471   AUS_10424877  41997     AUS
651    AUS_10174306  41994     AUS